* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;

}

.container {
  background-color: orange;
  display: flex;
  max-width: 1200px;
  margin: 0px auto;


}

.col-20 {
  width: 20%;
  padding: 20px;
}

.col-60 {
  width: 60%;
  padding: 20px;
  text-align: center;
}

.right {
  text-align: right;
}

.border-black {
  border: 2px dotted black;
}