* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;


}

.container {
  background-color: orange;
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px;

}

.sezione-1 {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(18, 18, 94);
  height: 400px;
}

.sezione-2,
.sezione-4 {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: center;
}

.sezione-3 {
  background-color: rgb(158, 151, 151);
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
  justify-content: center;

}

.sezione-5 {
  background-color: rgb(158, 151, 151);
  height: 650px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.footer-top {
  background-color: rgb(33, 51, 51);
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;

}

.footer-bottom {
  background-color: rgb(33, 51, 51);
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;

}

.container-footer {
  background-color: aqua;
  display: flex;
  width: 800px;
  margin: 10px auto;
  height: 60px;
  justify-content: space-between;
}

.box-lightblue {
  width: 500px;
  background-color: rgb(56, 56, 201);
  height: 350px;
  margin: 30px 0
}

.box-rose {
  width: 300px;
  background-color: rgb(253, 158, 158);
  height: 350px;
  margin: 30px 0
}

.box-pink {
  background-color: palevioletred;
  display: flex;
  margin: 0 auto;
  height: 350px;
  width: 600px;

}

.box-green {
  background-color: green;
  display: flex;
  margin: 30px auto;
  height: 600px;
  width: 800px;

}


.col-20 {
  width: 20%;
  padding: 20px;

}

.col-60 {
  width: 60%;
  padding: 20px;
  text-align: center;

}

.col-pink {
  background-color: rgb(255, 98, 125);
  width: 200px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.col-azure {
  background-color: rgb(6, 204, 204);
  width: 150px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.logo-footer,
.bottom-footer {
  background-color: rgb(235, 150, 164);
  margin: 10px 0;
}

.right {
  text-align: right;
}

.border-black {
  border: 2px dotted black;
}

.border-white {
  border: 2px dotted white
}

hr {
  color: white;
}